
@{
    ViewBag.Title = "Permiso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Permiso</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-user"></i> Permiso
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear nuevo</button>
            </div>
        </div>


        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Id Permiso</th>
                    <th>Fecha solicitud</th>
                    <th>Hora de inicio</th>
                    <th>Hora de finalización</th>
                    <th>Concepto</th>
                    <th>Descripción</th>
                    <th>Nombre completo</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white ">
                <h5 class="modal-title" id="exampleModalLabel">Crear permiso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <input id="txtId" type="hidden"  value="0" />
                    <div class="row g-2">

                        <div class="col-sm-6">
                            <label for="txtFechaSoli" class="form-label">Fecha de solicitud</label>
                            <input type="date" class="form-control" id="txtFechaSoli" aria-describedby="emailHelp" autocomplete="off">

                        </div>

                        <div class="col-sm-6">
                            <label for="txtHoraIni" class="form-label">Hora de inicio</label>
                            <input type="datetime-local" class="form-control" id="txtHoraIni" aria-describedby="emailHelp" autocomplete="off">
                        </div>

                        <div class="col-sm-6">
                            <label for="txtHoraFini" class="form-label">Hora de finalización</label>
                            <input type="datetime-local" class="form-control" id="txtHoraFini" aria-describedby="emailHelp" autocomplete="off">

                        </div>
                        <div class="col-sm-6">
                            <label for="txtConcepto" class="form-label">Concepto</label>
                            <input type="text" class="form-control" id="txtConcepto" aria-describedby="emailHelp" autocomplete="off">

                        </div>
                        <div class="col-sm-6">
                            <label for="txtDecripcion" class="form-label">Descripción</label>
                            <input type="text" class="form-control" id="txtDecripcion" aria-describedby="emailHelp" autocomplete="off">

                        </div>
                        <div class="col-sm-6">
                            <label for="txtidPersona" class="form-label">Persona</label>
                            <select class="form-select" id="txtidPersona" required></select>
                        </div>
                        <div class="col-sm-6">
                            <label for="sbestado" class="form-label">Estado</label>
                            <select class="form-select" id="sbestado">

                                <option value="1">Aprobado</option>
                                <option value="0">Pendiente</option>

                            </select>

                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div id="mensajeError" class="alert alert-danger" role="alert">
                                    This is a danger alert—check it out!
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

</div>



@section scripts{
    <script>
         var tablaData;
         var filaSelecionada;

 //Para llenar la tabla, identificador para el tributi id = #

        tablaData = $("#tabla").DataTable({

            responsive: true,
            ordering: false,
            "ajax": {

                url: '@Url.Action("listar_Permiso", "Permiso")',
                type: "GET",
                dataType: "json",

            },

            "columns": [


                { "data": "id_Permiso" },
                {
                    "data": "fecha_Solicitud",
                    "render": function (data) {
                        return convertirFechaFormato(data);
                    }
                 },
                {"data": "hora_Inicio"},
                { "data": "hora_Finalizacion"},
                { "data": "concepto" },
                { "data": "descripcion" },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return row.nombre + ' ' + row.apellido;
                    }
                },
                {
                    "data": "aprabado", "render": function (valor) {

                        if (valor === true || valor === 1) {
                            return '<span class="badge bg-success">Aprobado</span>';
                        } else {
                            return '<span class="badge bg-danger">Pendiente</span>';
                        }

                    }

                },
                {
                    "defaultContent": '<button class="btn btn-primary btn-sm  btn-editar">  <i class=" fas fa-pen me-1" > </i></button>' + '<button class="btn btn-danger btn-sm   btn-eliminar">  <i class=" fas fa-trash me-1" > </i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"

                },




            ],
            "language": {
             "url": "https://cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
             }

        });
              //abrir el model emergente
        function abrirModal(json) {

            $("#txtId").val("0");
            $("#txtFechaSoli").val("");
            $("#txtHoraIni").val("");
            $("#txtHoraFini").val("");
            $("#txtConcepto").val("");
            $("#txtDecripcion").val("");
            $("#txtidPersona").val("");
            $("#sbestado").val("");


            $("#mensajeError").hide();

            $("#formModal").modal("show");
            if (json != null) {
                
                $("#txtId").val(json.id_Permiso);
                $("#txtFechaSoli").val(convertirFechaFormato(json.fecha_Solicitud));
                $("#txtHoraIni").val(formatearHora(json.hora_Inicio));
                $("#txtHoraFini").val(formatearHora(json.hora_Finalizacion));
                $("#txtConcepto").val(json.concepto);
                $("#txtDecripcion").val(json.descripcion);
                $("#txtidPersona").val(json.id_Persona);
                $("#sbestado").val(json.aprobado == true ? 1:0);
            }
        }


        $("#tabla tbody").on("click", '.btn-editar', function () {
            filaSelecionada = $(this).closest("tr");
            var data = tablaData.row(filaSelecionada).data();
            abrirModal(data);
        });



        function guardar() {


            var permiso = {
                id_Permiso: $("#txtId").val(),
                fecha_Solicitud: $("#txtFechaSoli").val(),
                hora_Inicio:$("#txtHoraIni").val(),
                hora_Finalizacion:$("#txtHoraFini").val(),
                concepto: $("#txtConcepto").val(),
                descripcion: $("#txtDecripcion").val(),
                id_Persona: $("#txtidPersona").val(),
                aprobado: $("#sbestado").val(),


            };
                jQuery.ajax({
                url: '@Url.Action("guardarPermiso", "Permiso")',
                    type: "POST",
                    data: JSON.stringify({ obj: permiso }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");
                    //usuario nuev

                    if (permiso.id_Permiso == 0) {
                        if (data.resultado != 0) {
                            permiso.id_Permiso = data.resultado;

                            tablaData.row.add(permiso).draw(false);
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    } else {
                        //usuario editar
                        if (data.resultado) {
                            tablaData.row(filaSelecionada).data(permiso).draw(false); // Actualizar la fila existente en la tabla
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    //Cuando realize algo durante la ejecución
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando.....",
                        size: 14
                    });
                }
            });
            }




         $("#tabla tbody").on("click", '.btn-eliminar', function () {


                    var permisoSelecionado = $(this).closest("tr");

             var data = tablaData.row(permisoSelecionado).data();

                        console.log(data);

                        swal({
                            title: "¿Desea eliminar el registro?",
                            text: "¿Estas seguro?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonClass: "btn-primary",
                            confirmButtonText: "Si",
                            cancelButtonText: "No",


                            closeOnConfirm: true
                        },
                            function () {

                                jQuery.ajax({
                                    url: '@Url.Action("eliminarPermiso", "Permiso")',
                                    type: "POST",
                                    data: JSON.stringify({ id: data.id_Permiso }),
                                    dataType: "json",
                                    contentType: "application/json; charset=utf-8",
                                    success: function (data) {

                                        if (data.resultado) {
                                            tablaData.row(permisoSelecionado).remove().draw();
                                        } else {
                                            swal("No se puede eliminar",data.mensaje,"error")
                                        }
                                    },
                                    error: function () {

                                    },
                                    beforeSend: function () {

                                    },
                                });

                            });

         });

        function formatearHora(horaInput) {


            var hora = horaInput.split(":")[0]; // Obtener solo la hora
            var minutos = horaInput.split(":")[1]; // Obtener los minutos


            if (parseInt(hora) < 10) {
                hora = "0" + hora;
            }
            var horaFormateada = hora + ":" + minutos;

            return horaFormateada;
        }
       

        function convertirFechaFormato(fechaString) {
           
            var regex = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;
            var partes = fechaString.match(regex);

            if (partes) {
                var dia = partes[1];   // Día
                var mes = partes[2];   // Mes
                var anio = partes[3];  // Año

               //formato YYYY/MM/DD
                return `${anio}-${mes.padStart(2, '0')}-${dia.padStart(2, '0')}`;
            } else {
                return "Fecha inválida";
            }
        }


               function cargarPersona() {
                 $.ajax({
                     url: '@Url.Action("getPersona", "Notificaciones")',
                     type: "GET",
                     dataType: "json",
                     success: function (data) {
                         var $select = $("#txtidPersona");
                         $select.empty(); // Limpiar opciones existentes
                         $.each(data.data, function (index, item) {
                             console.log(data);
                             $select.append($('<option>', {

                                 value: item.id_Persona, // Asignar valor a la opción
                                 text: item.nombre +' '+item.apellido  // Texto que se muestra
                             }));

                         });
                     },
                     error: function (error) {
                         console.error("Error al cargar persona:", error);
                     }
                 });
        }

        //$(document).ready(function () {
        //    $('#txtHoraIni').datepicker({
        //        dateFormat: 'yy-mm-dd',
        //        showTime: true,
        //        timeFormat: 'HH:mm:ss',
        //        changeMonth: true,
        //        changeYear: true
        //    });
        //});

     // Llama a la función al cargar la página o cuando sea necesario
         $(document).ready(function () {
             cargarPersona();
         });



    </script>

}


